body {
  margin: 0;
  min-height: 100vh;
  padding: 20px;
  background: radial-gradient(circle, #1a001a, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
  box-sizing: border-box;
}


.container {
  text-align: center;
  animation: aparecer 2s ease;
  width: 100%;
  max-width: 500px;
}

h1 {
  color: #ff5fa2;
}

p {
  max-width: 300px;
  margin: 20px auto;
  line-height: 1.5;
}

.rosa {
  font-size: 80px;
  animation: flotar 3s infinite ease-in-out;
}

@keyframes flotar {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

@keyframes aparecer {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
@keyframes caer {
  to {
    transform: translateY(110vh) rotate(360deg);
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 22px;
  }

  p {
    max-width: 100%;
    font-size: 16px;
  }

  .rosa {
    font-size: 60px;
  }
}

